:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --alternative-color: #ffffff;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --alt-bg-color: #2f303a;
}

body {
  background-color: var(--alternative-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

/* modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px;

  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  padding: 40px;

  background-color: var(--alternative-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.form {
  width: 448px;
}

.form__title {
  margin-top: 0;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-field__name {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
}

.form-field__input {
  padding: 12px 40px;
  margin-top: 4px;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__icon {
  position: absolute;
  left: 12px;
  top: calc(50% + 2px);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus-within .form-field__input {
  outline: transparent;
  border: 1px solid var(--accent-color);
}

.form-field:focus-within .form-field__icon {
  fill: var(--accent-color);
}

.form-field__comment {
  resize: none;
  height: 120px;
  margin-top: 4px;
  margin-bottom: 10px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__comment::placeholder {
  font-size: 12px;
  line-height: 1.16x;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field:focus-within > .form-field__comment {
  outline: transparent;
  border: 1px solid var(--accent-color);
}

.checkbox-label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.checkbox-label__checkbox {
  appearance: none;
}

.checkbox-label__icon {
  margin-right: 7px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-label__mark {
  position: absolute;
  left: 21px;
  top: 4px;
  fill: transparent;
  border: 2px solid transparent;
  border-radius: 2px;
  background-origin: border-box;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-label:focus-within .checkbox-label__icon {
  fill: var(--accent-color);
}

.checkbox-label__checkbox:checked ~ .checkbox-label__mark {
  fill: var(--alternative-color);
  background-color: var(--accent-color);
}

.checkbox-label__checkbox:checked + .checkbox-label__icon {
  fill: transparent;
}

.checkbox-label__link {
  margin-left: 4px;
  color: var(--accent-color);
}

.form__button {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
  height: 50px;
  min-width: 200px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--alternative-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__button:hover,
.form__button:focus {
  background-color: #188ce8;
}

.modal__close {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-right: 8px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  background-color: var(--alternative-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:hover,
.modal__close:focus {
  fill: var(--accent-color);
}

/* Logo */

.logo {
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.accent-logo {
  color: var(--accent-color);
}

/* Header navigation */

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  margin-left: 93px;
}

.header-navigation__list {
  display: flex;
}

.header-navigation__item:not(:last-child) {
  margin-right: 50px;
}

.header-navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-navigation__link:hover,
.header-navigation__link:focus {
  color: var(--accent-color);
}

.header-navigation__list .active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

/* active link */

.header-navigation__list .active {
  color: var(--accent-color);
}

/* Header contacts */

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts__item:not(:last-child) {
  margin-right: 40px;
}

.header-contacts__link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__link:hover,
.header-contacts__link:focus {
  color: var(--accent-color);
}

.header-contacts__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

/* hero */

.hero {
  height: 600px;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-image.jpg");
  background-repeat: no-repeat;
  background-position: center;

  background-color: var(--alt-bg-color);
  text-align: center;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
  width: 696px;
  color: var(--alternative-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 24px;
  min-width: 200px;
  border: transparent;

  color: var(--alternative-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* Features */

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
  display: flex;
}

.features-card:not(:last-child) {
  margin-right: 30px;
}

.features-card__container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  height: 120px;
}

.features-card__icon {
  display: block;
  width: 70px;
  height: 70px;
}

.features-title {
  margin-top: 0;
  margin-bottom: 10px;
  width: 270px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.features-description {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--title-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* examples */

.examples {
  padding-bottom: 94px;
}

.examples-list {
  display: flex;
}

.examples-list__item {
  position: relative;
}

.examples-list__item:not(:last-child) {
  margin-right: 30px;
}

.examples-list__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  color: var(--alternative-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
}

.examples-list__descr {
  margin-top: 0;
  margin-bottom: 0;
}

/* team */

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
}

.team-list__item:not(:last-child) {
  margin-right: 30px;
}

.team-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card__descr {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--alternative-color);
}

.team-card__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0 0 10px 0;
}

.team-card__job {
  margin-bottom: 16px;
  margin-top: 0;
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-networks {
  display: flex;
  justify-content: center;
}

.team-networks__item:not(:last-child) {
  margin-right: 10px;
}

.team-networks__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-networks__icon {
  fill: currentColor;
}

.team-networks__link:hover,
.team-networks__link:focus {
  color: var(--alternative-color);
  background-color: var(--accent-color);
}

/* regular clients */

.regular-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.regular-clients__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.regular-clients__item:not(:last-child) {
  margin-right: 30px;
}

.regular-clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-clients__link:hover,
.regular-clients__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.regular-client__icon {
  fill: currentColor;
}

/* footer */

.footer {
  display: flex;

  background-color: var(--alt-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-navigation {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer-navigation__address {
  margin-right: 70px;
}

.footer-navigation--logo {
  color: var(--alternative-color);
}

.footer-navigation__text {
  color: var(--alternative-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 28px;
}

.footer-navigation__link {
  display: block;
  margin-top: 12px;
  color: var(--footer-link-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-navigation__link:hover,
.footer-navigation__link:focus {
  color: var(--alternative-color);
}

.footer-networks__title,
.footer-sign__title {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--alternative-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-networks__item:not(:last-child) {
  margin-right: 10px;
}

.footer-networks__links {
  display: flex;
}

.footer-networks__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--alternative-color);
  background-color: rgba(255, 255, 255, 0.1);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-networks__link:hover,
.footer-networks__link:focus {
  background-color: var(--accent-color);
}

.footer-networks__icon {
  fill: currentColor;
}

.footer-sign {
  margin-left: 93px;
}

.footer-sign__container {
  display: flex;
  width: 570px;
}

.footer-form {
  display: flex;
}

.footer-form__input {
  width: 358px;
  padding: 15px 0 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__button {
  display: flex;
  justify-content: center;
  height: 50px;
  min-width: 200px;
  margin-left: 12px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--alternative-color);
}

.footer-form__icon {
  margin-left: 10px;
  fill: var(--alternative-color);
}

/* PORTFOLIO PAGE */

/* portfolio nav */

.portfolio {
  padding: 94px 0;
}

.portfolio-navigation {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-navigation__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-navigation__button {
  border-radius: 4px;
  border: transparent;
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: #f5f4fa;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-navigation__button--active {
  border-radius: 4px;
  border: transparent;
  padding: 6px 22px;

  color: var(--alternative-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-navigation__button:hover,
.portfolio-navigation__button:focus {
  color: var(--alternative-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* portfolio projects */

.portfolio-projects {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-card {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-card:nth-child(3n) {
  margin-right: 0;
}

.portfolio-card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-card__link {
  display: block;
  text-decoration: none;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card__link:hover,
.portfolio-card__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card__image {
  position: relative;
  overflow: hidden;
}

.portfolio-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card__link:hover .portfolio-card__overlay,
.portfolio-card__link:focus .portfolio-card__overlay {
  transform: translateY(0);
}

.portfolio_card__text {
  margin-top: 0;
  margin-bottom: 0;
  padding: 63px 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--alternative-color);
}

.portfolio-card__main {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio-card__name {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-card__descr {
  margin-top: 4px;
  margin-bottom: 0;
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
