.logo {
  color: $primary-text-color;
  font-family: $support-font;
  font-size: 26px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.accent-logo {
  color: $accent-color;
}
